<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Убраны ненужные native permissions - TWA использует браузерные API -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ducharkha"
        tools:targetApi="31">
        
        <!-- Основная TWA Activity с использованием android-browser-helper -->
        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App.SplashScreen">
            
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Intent filters для обработки веб-ссылок -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Production домен обновлен -->
                <data android:scheme="https" android:host="ducharha.onrender.com" />
            </intent-filter>
            
            <!-- TWA метаданные -->
            <meta-data 
                android:name="android.support.customtabs.trusted.DEFAULT_URL" 
                android:value="https://ducharha.onrender.com/" />
            
            <meta-data 
                android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR" 
                android:resource="@color/purple_primary" />
            
            <meta-data 
                android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR" 
                android:resource="@color/purple_primary" />
                
            <meta-data 
                android:name="android.support.customtabs.trusted.SPLASH_IMAGE_DRAWABLE" 
                android:resource="@drawable/splash_screen_enhanced" />
                
            <meta-data 
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_BACKGROUND_COLOR" 
                android:resource="@color/purple_primary" />
                
            <meta-data 
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_FADE_OUT_DURATION" 
                android:value="2000" />
            
            <!-- Дополнительные настройки для скрытия браузерных элементов -->
            <meta-data 
                android:name="android.support.customtabs.trusted.DISPLAY_MODE" 
                android:value="standalone" />
                
            <meta-data 
                android:name="android.support.customtabs.trusted.SCREEN_ORIENTATION" 
                android:value="portrait" />
                
            <!-- Дополнительные настройки для профессионального вида -->
            <meta-data 
                android:name="android.support.customtabs.trusted.SHARE_TARGET" 
                android:value="false" />
                
            <meta-data 
                android:name="android.support.customtabs.trusted.ADDITIONAL_TRUSTED_ORIGINS" 
                android:resource="@array/trusted_origins" />
                
            <meta-data 
                android:name="android.support.customtabs.trusted.SPLASH_SCREEN_FADE_IN_DURATION" 
                android:value="500" />
            
        </activity>

        <!-- TWA Delegation Service для расширенных возможностей -->
        <service
            android:name="com.google.androidbrowserhelper.trusted.DelegationService"
            android:exported="true">
            
            <intent-filter>
                <action android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>